<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Realmware.Battlefield4.SettingsEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Realmware.Battlefield4.SettingsEditor.Properties.Settings>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimiseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChooseExportSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseImportSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseSaveProfileSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseOverwriteProfileSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseLoadProfileSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdvancedMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForDuplicateBindings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </Realmware.Battlefield4.SettingsEditor.Properties.Settings>
    </userSettings>
</configuration>